<settings version="2">
    <setting id="general.localtimezone">America/Los_Angeles</setting>
    <setting id="general.manualtimezone" default="true">false</setting>
    <setting id="general.choosetimezone" default="true" />
    <setting id="searchHistory" default="true">false</setting>
    <setting id="general.flatten.episodes" default="true">false</setting>
    <setting id="general.hideSpecials">true</setting>
    <setting id="general.hideUnAired">true</setting>
    <setting id="general.hideWatched" default="true">false</setting>
    <setting id="general.datedelay" default="true">false</setting>
    <setting id="trakt.auth" default="true" />
    <setting id="nextup.sort" default="true">0</setting>
    <setting id="general.sourceselectlines">true</setting>
    <setting id="general.textColorSelect" default="true" />
    <setting id="general.displayColor" default="true">None</setting>
    <setting id="general.setViews" default="true">false</setting>
    <setting id="general.viewidswitch" default="true">false</setting>
    <setting id="addon.view" default="true">0</setting>
    <setting id="addon.view.id" default="true">0</setting>
    <setting id="movie.view" default="true">0</setting>
    <setting id="movie.view.id" default="true">0</setting>
    <setting id="show.view" default="true">0</setting>
    <setting id="show.view.id" default="true">0</setting>
    <setting id="episode.view" default="true">0</setting>
    <setting id="episode.view.id" default="true">0</setting>
    <setting id="season.view" default="true">0</setting>
    <setting id="season.view.id" default="true">0</setting>
    <setting id="general.paginatetraktlists">true</setting>
    <setting id="general.paginatecollection">true</setting>
    <setting id="general.sortcollection" default="true">0</setting>
    <setting id="general.genres.endpoint" default="true">0</setting>
    <setting id="general.subtitle.enable">true</setting>
    <setting id="general.widget.hide_next" default="true">false</setting>
    <setting id="skin.updateAutomatic">true</setting>
    <setting id="skin.active" default="true">Seren Fox</setting>
    <setting id="skin.install" default="true" />
    <setting id="skin.uninstall" default="true" />
    <setting id="skin.switch" default="true" />
    <setting id="skin.updates" default="true" />
    <setting id="skin.testmenu" default="true">false</setting>
    <setting id="general.fanart.fallback" default="true">false</setting>
    <setting id="general.menucaching">true</setting>
    <setting id="general.appendtitles">3</setting>
    <setting id="general.appendepisodegeneral" default="true">0</setting>
    <setting id="general.appendListTitles">1</setting>
    <setting id="general.disableNotificationSound" default="true">false</setting>
    <setting id="general.showRemainingUnwatched" default="true">false</setting>
    <setting id="item.limit">45</setting>
    <setting id="general.metalocation">1</setting>
    <setting id="general.meta.showoriginaltitle" default="true">false</setting>
    <setting id="general.force.widget.refresh.playback" default="true">false</setting>
    <setting id="migration.attempted" default="true">false</setting>
    <setting id="tvdb.jw">eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2Mzc1Mjg1MjksImlkIjoiIiwib3JpZ19pYXQiOjE2MzY5MjM3Mjl9.sOnBLayQd615yHSXPlwm70aKE8w2EGbesEkKcS0Xn0QbGRxFa_RCiTeInyXMohgiTNsQO6yAmIHhQaaEhINPAhpYqdypCh4wuNAtTHQWk9sY0culRnKVc-_-4ThDYUSwv7HoamoQFABmJLycjjBQZZB03_k1OPzSaR6nLFd_kZcaif3oPpjBiOlcba-BvVwGfkIZfZSUEgrAHHc5LAhqYRr1rgOOs-eBAYQNsIG4uuEzuLYqshyJz3b2MxlMCvNgNz_YGoIw3hXetjjPCF8cLFKTuMbgB06-Pol6hUCXpUM3gw7QM1paIooJXn5JEow1nIvlBBfNBWtmJfND7_JKLQ</setting>
    <setting id="tvdb.expiry">1637010129.757792</setting>
    <setting id="trakt.refresh" default="true" />
    <setting id="trakt.expires" default="true">0</setting>
    <setting id="rd.auth" default="true" />
    <setting id="rd.refresh" default="true" />
    <setting id="rd.client_id" default="true" />
    <setting id="rd.expiry" default="true">0</setting>
    <setting id="rd.secret" default="true" />
    <setting id="premiumize.token" default="true" />
    <setting id="general.textColor" default="true" />
    <setting id="alldebrid.apikey" default="true" />
    <setting id="general.trakt.failure.timeout" default="true">0</setting>
    <setting id="update.news.version">2.1.4</setting>
    <setting id="seren.version">2.1.8</setting>
    <setting id="fanart.apikey" default="true" />
    <setting id="artwork.preferredsize">1</setting>
    <setting id="movies.preferedsource">1</setting>
    <setting id="movie.artwork.advanced" default="true">false</setting>
    <setting id="movies.poster_limit">1</setting>
    <setting id="movies.fanart_limit">1</setting>
    <setting id="movies.banner">true</setting>
    <setting id="movies.landscape">true</setting>
    <setting id="movies.keyart_limit" default="true">0</setting>
    <setting id="movies.clearlogo">true</setting>
    <setting id="movies.clearart">true</setting>
    <setting id="movies.discart">true</setting>
    <setting id="movies.characterart_limit" default="true">0</setting>
    <setting id="tvshows.preferedsource">1</setting>
    <setting id="tv.artwork.advanced" default="true">false</setting>
    <setting id="tvshows.poster_limit">1</setting>
    <setting id="tvshows.fanart_limit">1</setting>
    <setting id="tvshows.banner">true</setting>
    <setting id="tvshows.landscape">true</setting>
    <setting id="tvshows.keyart_limit" default="true">0</setting>
    <setting id="tvshows.clearlogo">true</setting>
    <setting id="tvshows.clearart">true</setting>
    <setting id="tvshows.characterart_limit" default="true">0</setting>
    <setting id="season.poster">true</setting>
    <setting id="season.banner">true</setting>
    <setting id="season.landscape">true</setting>
    <setting id="season.fanart">true</setting>
    <setting id="episode.fanart">true</setting>
    <setting id="general.scrapedisplay" default="true">0</setting>
    <setting id="general.torrentCache">true</setting>
    <setting id="general.threadpoolScale">1</setting>
    <setting id="general.timeout">60</setting>
    <setting id="general.autocache">true</setting>
    <setting id="general.cacheAssistMode" default="true">0</setting>
    <setting id="general.cachelocation">1</setting>
    <setting id="preem.enabled">false</setting>
    <setting id="preem.movieres" default="true">0</setting>
    <setting id="preem.tvres">1</setting>
    <setting id="preem.limit">5</setting>
    <setting id="preem.type" default="true">0</setting>
    <setting id="preem.cloudfiles">true</setting>
    <setting id="preem.adaptiveSources">true</setting>
    <setting id="set.download.location" default="true" />
    <setting id="download.location" default="true">userdata</setting>
    <setting id="general.playstyleMovie">1</setting>
    <setting id="general.playstyleEpisodes">1</setting>
    <setting id="general.autotrynext">true</setting>
    <setting id="general.resolvefailurehandling">1</setting>
    <setting id="general.bookmarkstyle" default="true">0</setting>
    <setting id="smartplay.displaystyle" default="true">0</setting>
    <setting id="smartplay.playlistcreate">true</setting>
    <setting id="smartplay.clickresume" default="true">false</setting>
    <setting id="smartPlay.preScrape">true</setting>
    <setting id="smartplay.playingnextdialog">true</setting>
    <setting id="playingnext.time">30</setting>
    <setting id="playingnext.defaultaction" default="true">0</setting>
    <setting id="smartplay.stillwatching" default="true">false</setting>
    <setting id="stillwatching.numepisodes">3</setting>
    <setting id="general.accountNotifications">true</setting>
    <setting id="trakt.username" default="true" />
    <setting id="trakt.authtrakt" default="true" />
    <setting id="trakt.scrobbling">true</setting>
    <setting id="trakt.ignoreSecondsAtStart">180</setting>
    <setting id="trakt.playCountMinimumPercent">80</setting>
    <setting id="trakt.revoketrakt" default="true" />
    <setting id="premiumize.enabled" default="true">false</setting>
    <setting id="premiumize.auth" default="true" />
    <setting id="premiumize.username" default="true" />
    <setting id="premiumize.premiumstatus" default="true" />
    <setting id="premiumize.priority">10</setting>
    <setting id="premiumize.torrents">true</setting>
    <setting id="premiumize.hosters">true</setting>
    <setting id="premiumize.transcoded" default="true">false</setting>
    <setting id="premiumize.addToCloud" default="true">false</setting>
    <setting id="premiumize.autodelete">true</setting>
    <setting id="premiumize.threshold">750</setting>
    <setting id="premiumize.cloudInspection">true</setting>
    <setting id="realdebrid.enabled" default="true">false</setting>
    <setting id="rd.username" default="true" />
    <setting id="rd.premiumstatus" default="true" />
    <setting id="rd.auth_start" default="true" />
    <setting id="rd.priority">10</setting>
    <setting id="rd.torrents">true</setting>
    <setting id="rd.hosters">true</setting>
    <setting id="rd.autodelete">true</setting>
    <setting id="rd.cloudInspection">true</setting>
    <setting id="alldebrid.enabled" default="true">false</setting>
    <setting id="alldebrid.username" default="true" />
    <setting id="alldebrid.premiumstatus" default="true" />
    <setting id="alldebrid.auth_start" default="true" />
    <setting id="alldebrid.priority">10</setting>
    <setting id="alldebrid.torrents">true</setting>
    <setting id="alldebrid.hosters">true</setting>
    <setting id="alldebrid.autodelete">true</setting>
    <setting id="alldebrid.cloudInspection">true</setting>
    <setting id="providers.autoupdates">true</setting>
    <setting id="providers.checkupdates" default="true" />
    <setting id="providers.manage" default="true" />
    <setting id="general.maxResolution" default="true">0</setting>
    <setting id="general.enablesizelimit">true</setting>
    <setting id="general.sizelimit.movie">20</setting>
    <setting id="general.sizelimit.episode">20</setting>
    <setting id="general.sizeminimum.movie" default="true">0</setting>
    <setting id="general.sizeminimum.episode" default="true">0</setting>
    <setting id="general.disable3d">true</setting>
    <setting id="general.disable265" default="true">false</setting>
    <setting id="general.disablelowQuality" default="true">false</setting>
    <setting id="general.hidesd" default="true">false</setting>
    <setting id="general.disablehdrsources" default="true">false</setting>
    <setting id="general.sortsources">2</setting>
    <setting id="general.sizesort">true</setting>
    <setting id="general.reversesizesort" default="true">false</setting>
    <setting id="general.265sort">true</setting>
    <setting id="general.lowQualitysort" default="true">false</setting>
    <setting id="advanced.apikeys" default="true">false</setting>
    <setting id="tmdb.apikey" default="true" />
    <setting id="trakt.clientid" default="true" />
    <setting id="trakt.secret" default="true" />
    <setting id="tvdb.apikey" default="true" />
    <setting id="omdb.apikey" default="true" />
    <setting id="cache.clear" default="true" />
    <setting id="cache.cleartorrent" default="true" />
    <setting id="cache.clearsearch" default="true" />
    <setting id="cache.wipeaddon" default="true" />
    <setting id="traktdb.flush" default="true" />
    <setting id="traktdb.force" default="true" />
    <setting id="traktdb.rebuild" default="true" />
    <setting id="reuselanguageinvoker.status" default="true">Enabled</setting>
    <setting id="reuselanguageinvoker.toggle" default="true" />
    <setting id="windowtests.playingNext" default="true" />
    <setting id="windowtests.stillWatching" default="true" />
    <setting id="windowtests.resolverWindow" default="true" />
    <setting id="windowtests.sourceSelectWindow" default="true" />
    <setting id="windowtests.manualCacheWindow" default="true" />
</settings>
