<settings version="2">
    <setting id="module.provider" default="true">Fenomscrapers</setting>
    <setting id="checkAddonUpdates" default="true">false</setting>
    <setting id="undesirables.choice" default="true"></setting>
    <setting id="provider.300mbfilms" default="true">false</setting>
    <setting id="provider.maxrls" default="true">false</setting>
    <setting id="provider.myvideolink" default="true">false</setting>
    <setting id="provider.rapidmoviez" default="true">false</setting>
    <setting id="provider.rlsbb" default="true">false</setting>
    <setting id="provider.scenerls" default="true">false</setting>
    <setting id="provider.easynews" default="true">false</setting>
    <setting id="easynews.title.chk">true</setting>
    <setting id="provider.filepursuit" default="true">false</setting>
    <setting id="provider.furk" default="true">false</setting>
    <setting id="provider.gdrive" default="true">false</setting>
    <setting id="gdrive.title.chk">true</setting>
    <setting id="provider.ororo" default="true">false</setting>
    <setting id="provider.library" default="true">false</setting>
    <setting id="filter.undesirables">true</setting>
    <setting id="undesirables.browse" default="true">32047</setting>
    <setting id="undesirables.user_defined" default="true"></setting>
    <setting id="filter.foreign.single.audio">true</setting>
    <setting id="provider.1337x" default="true">false</setting>
    <setting id="provider.7torrents" default="true">false</setting>
    <setting id="provider.bitcq">true</setting>
    <setting id="provider.bitlord">true</setting>
    <setting id="provider.bt4g" default="true">false</setting>
    <setting id="provider.btscene" default="true">false</setting>
    <setting id="provider.ettv" default="true">false</setting>
    <setting id="provider.eztv">true</setting>
    <setting id="provider.glodls">true</setting>
    <setting id="provider.idope" default="true">false</setting>
    <setting id="provider.isohunt2" default="true">false</setting>
    <setting id="provider.kickass2" default="true">false</setting>
    <setting id="provider.limetorrents" default="true">false</setting>
    <setting id="provider.magnetdl">true</setting>
    <setting id="provider.nyaa" default="true">false</setting>
    <setting id="provider.piratebay">true</setting>
    <setting id="provider.solidtorrents">true</setting>
    <setting id="provider.topnow" default="true">false</setting>
    <setting id="provider.torlock" default="true">false</setting>
    <setting id="provider.torrentapi">true</setting>
    <setting id="provider.torrentdownload">true</setting>
    <setting id="provider.torrentfunk" default="true">false</setting>
    <setting id="provider.torrentgalaxy" default="true">false</setting>
    <setting id="provider.torrentparadise">true</setting>
    <setting id="provider.torrentproject2" default="true">false</setting>
    <setting id="provider.torrentz2" default="true">false</setting>
    <setting id="provider.yourbittorrent" default="true">false</setting>
    <setting id="provider.ytsmx" default="true">false</setting>
    <setting id="provider.zooqle" default="true">false</setting>
    <setting id="filepursuit.api" default="true"></setting>
    <setting id="furk.user_name" default="true"></setting>
    <setting id="furk.user_pass" default="true"></setting>
    <setting id="furk.api" default="true"></setting>
    <setting id="easynews.user" default="true"></setting>
    <setting id="easynews.password" default="true"></setting>
    <setting id="gdrive.cloudflare_url" default="true"></setting>
    <setting id="ororo.user" default="true"></setting>
    <setting id="ororo.pass" default="true"></setting>
    <setting id="debug.enabled" default="true">false</setting>
    <setting id="debug.location">1</setting>
    <setting id="debug.reversed" default="true">false</setting>
</settings>